[user]
        name = Droogans
        email = droogans@gmail.com
[merge]
        tool = p4merge
[mergetool "p4merge"]
        cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
        trustExitCode = True
        keepBackup = false
        keepTemporaries = false
[color]
	diff = auto
	status = auto
