[user]
        name = Droogans
        email = droogans@gmail.com
[merge]
        tool = p4merge
[mergetool "p4merge"]
        cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
        trustExitCode = True
        keepBackup = false
        keepTemporaries = false
[color]
	diff = auto
	status = auto
[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    ready = rebase -i @{u}
    lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author `git config user.email`
    purr = pull --rebase