*
!.bash_aliases
!.bash_profile
!.bashrc
!.el4r
!.el4rrc.rb
!.emacs_bash
!.git-completion.sh
!.git-prompt.sh
!.gitconfig
!.gitignore
!.gitignore.global
!.inputrc
!.irbrc
!.jscsrc
!.npmrc
!.teamocil/default.yml
!.tmux.conf
!Brewfile